html {
    scroll-behavior: smooth;
}

body { 
    background-color: #4e4c54;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* ----- TYPOGRAPHY ----- */

h1, 
h3 {
    margin: 0;
}

h1 {
    color: whitesmoke;
    font-size: 1.75rem;
}

h2 {
    color: whitesmoke;
    font-size: 1.375rem;
    margin-top: 0;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: .5em;

}

p {
    color: whitesmoke;
    line-height: 1.5;
}

.subheading {
    display: block;
    font-size: 1rem;
    color: whitesmoke;
}


/* ----- LINKS ----- */

a {
    color: #ef5839;
    text-decoration: underline dotted; 
}

a:hover, 
a:active {
    color: #d4b44c;
}

.btn {
    font-size: 1.125rem;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 4.6px;
}

.btn-dark {
    color: #4e4c54;
    background: whitesmoke;
}

.btn-mid {
    color: #4e4c54; 
    background: whitesmoke; 
}

.btn-light {
    color: #4e4c54; 
    background: whitesmoke;
}

.btn:hover, 
.btn:active {
    color: #2b238a;
    background-color: #f3e885;
}

/* ----- LAYOUT ----- */

header, 
section, 
footer {
    padding: 1.25em 0;
}

header, 
.section-two {
    background-color: #2b3d53;
}

.section-two {
    color: whitesmoke;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.section-one-image-container {
    max-width: 800px;
    line-height: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    
}

.main-image {
    flex: 1 270px;
}

.expand {
    flex: 325px;
}

.section-one-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.whatisspacex {
    margin-top: 1.5em;
}

.section-two-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}


.feature-item {
    flex: 1 260px;
}
 

.feature-image {
    width: 100%;
    border-radius: 4.6px;
}



footer {
    text-align: center;
}

/* ----- NAVIGATION ----- */

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.125rem;
    padding: 0.85em 0;
    display: block;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* ----- MEDIA QUERIES ----- */ 

/* over = min */
/* under = max */

@media (max-width: 767px) {  
    header {
        text-align: center;
    }

    nav {
        margin-top: 1.5em;
    }
 
    li:not(:last-child) {
        border-bottom: 1px dotted #a190b6; 
    }  

    .main-image.expand {
        flex: 75px; 
    }
    
    .main-image {
        flex: 1 45px;  
    } 


   

}

@media (min-width: 768px) {
    header,
    section,
    footer {
        padding: 2.875em 0;        
    }
    
    header .container,
    nav ul {
        display: flex;
    }
    
    header .container {
        justify-content: space-between;
        align-items: center;
    }
    
    nav li {
        margin-left: 1.25em;
    }
    
    .btn {
        display: inline-block;
        margin-right: 0.5em;
    }
    
    h1 {
        font-size: 2.25rem;
    }
    
    h2 {
        font-size: 1.75rem;
    }

    h3 {
        margin-bottom: .5em;
    }
    
    .subheading {
        font-size: 1.25rem;
    }
    
    p {
        font-size: 1.125rem;
    }
} 